body {
    padding: 0;
    margin: 0;   
}

div#paisagem {
    display: none;
    height: 100vh;
    background-color: red;
    color:white;
}

@media (orientation: landscape) {
    div#paisagem {
        display: block;
    }
}